<extend name="Public/base" />

<block name="header-style">
    <link rel="stylesheet" href="__CSS__/index.css" />
    <link rel="stylesheet" href="__CSS__/login.css" />
    <link rel="stylesheet" href="css/certificate.css" />
    <style>
		.zigehead{
			text-align: center;
		}
		.zigehead p{
			font-size: 20px;
			margin-top: 20px;
			color: #FFFEFE;
		}
		.heaidit{margin-top: 80px;
		text-align: center;
		}
		.heaidit p{
			font-size: 16px;
			color: white;
			line-height: 24px;
		}
	</style>
</block>

<block name="content">
			
	<div class="logincont">
		<div class="zigehead">
			<p class="num1">中国好诗歌</p>
			<p class="num2">全国海选评委资格认证</p>
		</div>
	    <div class="heaidit">
	    	<if condition="$profile['status'] eq 0">
		    	<p>资格认证提交成功!</p>
		    	<p>请您保持手机畅通</p>
		    	<p>稍后会有工作人员与您联系</p>
		    	<p>认证审核中（5个工作日)......</p>
	    	</if>
	    	<if condition="$profile['status'] eq 1">
	    		<p>资格认证提交成功!</p>
		    	<p>请您保持手机畅通</p>
		    	<p>稍后会有工作人员与您联系</p>
		    	<p>认证审核中（5个工作日)......</p>
	    		<!-- <p>恭喜您的评委资质已通过审核！</p> -->
	    	</if>
	    	<if condition="$profile['status'] eq 2">
	    		<p>资格认证提交成功!</p>
		    	<p>请您保持手机畅通</p>
		    	<p>稍后会有工作人员与您联系</p>
		    	<p>认证审核中（5个工作日)......</p>
	    		<!-- <p>您的评委资格认证申请已被拒，原因【{$profile['refuse_remark']}】！</p> -->
	    	</if>
	    </div>
	</div>
</block>