<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>都雅市-下载页面</title>
<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet"  href="__CSS__/main.css">
</head>
<body>
<div id="item">
  <div class="download">
    <div class="code">
      <div class="pic"><img src="__IMG__/d-04.png"></div>
      <div class="main clearfix">
        <h1><a href="#">返回首页</a></h1>
        <div class="scan">
          <h2>雅都市代洗店</h2>
          <div class="clearfix">
            <div class="fl"><a href="#"><img src="__IMG__/d-03.png"></a><a href="#"><img src="__IMG__/d-02.png"></a></div>
            <div class="fr">
              <p><img src="__IMG__/erweima.png"></p>
              <p>扫二维码下载APP</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="download_show"><img src="__IMG__/d-05.png"></div>
  </div>
  <div class="footer1">
    <div class="main">
      <div class="clearfix">
        <dl>
          <dt>用户帮助</dt>
          <dd><a href="#">常见问题</a></dd>
          <dd><a href="#">用户反馈</a></dd>
          <dd><a href="#">诚信举报</a></dd>
          <dd><a href="#">线上体验店</a></dd>
        </dl>
        <dl>
          <dt>获取更新</dt>
          <dd><a href="#">iphone/Android</a></dd>
        </dl>
        <dl>
          <dt>商务合作</dt>
          <dd><a href="#">我要开店</a></dd>
        </dl>
        <dl>
          <dt>公司信息</dt>
          <dd><a href="#">关于我们</a></dd>
          <dd><a href="#">媒体报道</a></dd>
          <dd><a href="#">加入我们</a></dd>
        </dl>
        <div class="tel">
          <p><img src="__IMG__/index_010.png"></p>
          <p>雅都市代洗店</p>
          <p>400-800-8820</p>
        </div>
      </div>
      <div class="beian">©2015京公安网备11010102001226号</div>
    </div>
  </div>
</div>
</body>
</html>