<extend name="Public/base" />

<block name="header-style">
    <link rel="stylesheet" href="__CSS__/bmdel.css?v={:time()}" />
</block>

<block name="content">

  <div class="bmwbox">
    <div class="bmheas">
      <img src="__IMG__/logo.png" />
      <p class="bmyear"><a>————</a><span>2020</span><a>————</a></p>
      <p class="btext">全国海选报名通道</p>
    </div>
    <div class="bmdata">
      
      <div class="datali">
        <span>姓名</span>
        <div class="datainput"><input type="text" name="name" placeholder="请输入姓名"/></div>
        <i></i>
      </div>
      <div class="datali">
        <span>身份证号</span>
        <div class="datainput"><input type="text" name="id_num" placeholder="请输入身份证号或港澳台居民证件号"/></div>
        <i></i>
      </div>
      <div class="datali">
        <span>手机号码</span>
        <div class="datainput"><input type="text" name="mobile" placeholder="请输入手机号码"/></div>
        <i></i>
      </div>
      <div class="datali">
        <span>工作单位</span>
        <div class="datainput"><input type="text" name="agency" placeholder="请输入工作单位/学校名称"/></div>
        <i></i>
      </div>
      <div class="datali">
        <span>邮箱</span>
        <div class="datainput"><input type="text" name="email" placeholder="请输入常用邮箱"/></div>
      </div>
      <div class="datali">
        <span>职业</span>
        <div class="datainput">
          <select name="profession" class="profession">
            <option value="">——请选择——</option>
                    <volist name="professions" id="profession">
                <option value="{$profession}">{$profession}</option>
                    </volist>
          </select>
        </div>
        <i></i>
      </div>
      <div class="datali">
        <span>报名类目</span>
        <div class="datainput">
          <select name="classes" class="classes">
            <option value="">——请选择——</option>
            <volist name="classes" id="classe">
                        <option value="{$classe}">{$classe}</option>
                    </volist>
          </select>
        </div>
        <i></i>
      </div>
      <div class="datali">
        <span>登录密码</span>
        <div class="datainput"><input type="text" name="password" placeholder="请确认密码"/></div>
        <i></i>
      </div>
      <div class="datali">
        <span>确认密码</span>
        <div class="datainput"><input type="text" name="re_password" placeholder="请输入确认密码"/></div>
        <i></i>
      </div>
      <div class="datali">
        <span>赛区</span>
        <div class="datainput sqselect saiqu" data-toggle="distpicker" >
          <select class="form-control" name="province_name" id="province1" class="province_name"></select>
          <select class="form-control" name="city_name" id="city1" class="city_name"></select>
          <select class="form-control" name="area_name" id="district1" class="area_name"></select>
        </div>
        <i></i>
      </div>
      <!-- <div class="datali">
        <span>高校赛区</span>
        <div class="datainput">
          <select name="college_division" class="college_division">
            <option value="">——请选择——</option>
            <volist name="colleges" id="college">
                <option value="{$college}">{$college}</option>
            </volist>
          </select>
        </div>
        <i></i>
      </div> -->
      <div class="datali">
        <span>高校赛区</span>
        <div class="datainput sqselect gaoxiao" data-toggle="distpicker1" >
          <select class="form-control" name="" id="province2" class=""></select>
          <select class="form-control" name="" id="" class=""></select>
          <select class="form-control college_division" name="college_division" id=""></select>
        </div>
        <i></i>
      </div>
      <div class="datali">
        <span>自媒体账号：</span>
        <div class="datainput"><input type="text" name="media" placeholder="抖音号、微信公众号、头条号等"/></div>
      </div>
      <div class="datali">
        <span>自媒体粉丝数</span>
        <div class="datainput"><input type="text" name="media_fans" placeholder="自媒体粉丝数" maxlength="9" /></div>
      </div>
      <div class="datali">
        <span>是否愿意参加 红人训练</span>
        <div class="datainput">
          <select name="is_training" class="is_training">
            <option value="">——请选择——</option>
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
        </div>
        <i></i>
      </div>
      <div class="datali">
        <span>上传照片(1M以内)</span>
        <div class="datainput footsaw">
          <p class="lecos">
            <img src="__IMG__/uplode.png" class="uplods avatar" onclick="upAvatar();"/>
            <input type="hidden" name="avatar" value="">
            <input type="file" id="up-avatar" style="display: none" />
          <i class="xxcont"></i>
            <i class="xxcont"></i>
          </p>
          <div class="recos">
            <p>点击关注</p>
            <p>海选最新消息 </p>
            <p>官方发布平台</p>
          </div>
        </div>
        <i></i>
      </div>

    </div>
      
      <div class="tjbtn">
        <a href="javascript:void(0)"><button class="submit">提交</button></a>
      </div>
      
      <!--确认信息资料-->
      <div class="zlbox" style="display: none;">
        <div class="dacont">
        <div class="zlcont">
          <div class="zlinput">
            <span>姓名:</span>
            <input type="text" value="" class="qr-name" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>身份证号:</span>
            <input type="text" value="" class="qr-id_num" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>手机号码:</span>
            <input type="text" value="" class="qr-mobile" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>工作单位/ 学校名称:</span>
            <input type="text" value="" class="qr-agency" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>邮箱:</span>
            <input type="text" value="" class="qr-email" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>职业:</span>
            <input type="text" value="" class="qr-profession" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>报名类目:</span>
            <input type="text" value="" class="qr-classes" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>赛区:</span>
            <input type="text" value="" class="qr-division" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>自媒体号：</span>
            <input type="text" value="" class="qr-media" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>自媒体粉丝数:</span>
            <input type="text" value="" class="qr-media_fans" readonly="readonly" />
          </div>
          <div class="zlinput">
            <span>是否愿意参加 红人训练:</span>
            <input type="text" value="" class="qr-is_training" readonly="readonly" />
          </div>
        </div>
          <div class="zlbtn">
            <input type="button" value="取消" class="zlqxbtn" />
            <input type="button" value="确认" class="zlqrbtn bmright"  />
          </div>
        </div>
          
      </div>

      <!--说明-->
      <div class="waixz" >
        <div class="xuzhi">
            <div class="smhead">{$art['title']}</div>
            <div class="xzcomt">
              {$art['content']}
            </div>
            <div class="angrui">
              <input type="button" value="同意" class="tybtn" />
              <input type="button" value="拒绝" class="jjbtn" />
            </div>
        </div>
      </div>
  
      <!--扫码关注-->
      <div class="smbox" style="display: none;">
        <div class="smcont">
          <div class="close"><img src="__IMG__/close.png"/></div>
          <div class="smimgs">
            <img src="__IMG__/weibo.jpg" />
            <p>扫码关注最新海选信息</p>
          </div>
        </div>
      </div>

  </div>
</block>

<block name="footer-script">
  <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js" ></script>
    <script src="__STATIC__/validform_5.3.2/Validform_v5.3.2_min.js"></script>
    <script src="__JS__/validform.js"></script>
    <script src="__JS__/common.js"></script>
    <script src="__JS__/distpicker.data.js"></script>
    <script src="__JS__/distpicker.js"></script>
    <script src="__JS__/distpicker.data1.js"></script>
    <script src="__JS__/distpicker1.js"></script>
    <script src='__JS__/upload.js'></script>
    <script>
        function upAvatar()
        {
            upload($("#up-avatar"), "{:U('UpDownLoad/upload')}", 'avatar', '');
        }
        function afterUpSuccess(data, flag) {
            $('.avatar').attr('src', data.abs_url);
            $('.avatar').attr('file-id', data.id);
            setFileIds($(".avatar"), $("input[name='avatar']"));
        }
        function success_callback(){}
        function error_callback(){}
    </script>

     <script>
      $(function(){

            var type=1,name,id_num,mobile,agency,email,profession,classes,password,re_password,province_name,
            city_name,area_name,college_division,media,media_fans,is_training,avatar;

            $(".submit").click(function(){
                name             = $('input[name="name"]').val();
                id_num           = $('input[name="id_num"]').val();
                mobile           = $('input[name="mobile"]').val();
                agency           = $('input[name="agency"]').val();
                email            = $('input[name="email"]').val();
                profession       = $('.profession option:selected').val();//$('input[name="profession"]').val();
                classes          = $('.classes option:selected').val();
                password         = $('input[name="password"]').val();
                re_password      = $('input[name="re_password"]').val();
                province_name    = $('#province1 option:selected').val();
                city_name        = $('#city1 option:selected').val();
                area_name        = $('#district1 option:selected').val();
                college_division = $('.college_division option:selected').val();
                media            = $('input[name="media"]').val();
                media_fans       = $('input[name="media_fans"]').val();
                is_training      = $('.is_training option:selected').val();
                avatar           = $('input[name="avatar"]').val();

                if (name == '') {
                  showPop('请输入您的姓名！', 'error', 1500, ''); return;
                }
                if (id_num == '') {
                  showPop('请输入身份证号！', 'error', 1500, ''); return;
                }
                if (mobile == '') {
                  showPop('请输入手机号码！', 'error', 1500, ''); return;
                }
                if (agency == '') {
                  showPop('请输入工作单位/学校名称！', 'error', 1500, ''); return;
                }
                // if (email == '') {
                //   showPop('请输入邮箱地址！', 'error', 1500, ''); return;
                // }
                if (profession == '') {
                  showPop('请选择您的职业！', 'error', 1500, ''); return;
                }
                if (classes == '') {
                  showPop('请选择报名的类目！', 'error', 1500, ''); return;
                }
                if (password == '') {
                  showPop('请输入登录密码！', 'error', 1500, ''); return;
                }
                if (re_password == '') {
                  showPop('请输入确认密码！', 'error', 1500, ''); return;
                }
                if (password != re_password) {
                  showPop('登录密码和确认密码不一致！', 'error', 1500, ''); return;
                }
                if ((province_name == '' || city_name == '') && college_division == '') {
                  showPop('请选择赛区！', 'error', 1500, ''); return;
                }
                if (is_training == '') {
                  showPop('是否参见红人培训！', 'error', 1500, ''); return;
                }
                if (avatar == '') {
                  showPop('请上传您的照片！', 'error', 1500, ''); return;
                }

                if (college_division != '') {
                  division = college_division;
                } else {
                  division = province_name+city_name+area_name;
                }

                $('.qr-name').val(name);
                $('.qr-id_num').val(id_num);
                $('.qr-mobile').val(mobile);
                $('.qr-agency').val(agency);
                $('.qr-email').val(email);
                $('.qr-profession').val(profession);
                $('.qr-classes').val(classes);
                $('.qr-division').val(division);
                $('.qr-media').val(media);
                $('.qr-media_fans').val(media_fans);
                $('.qr-is_training').val(is_training);

                $('.zlbox').show();
            });

            $(".bmright").click(function(){
                $.post('{:U("UserProfile/add")}',{type:type,name:name,id_num:id_num,mobile:mobile,agency:agency,email:email,profession:profession,classes:classes,
                  division:division,media:media,media_fans:media_fans,is_training:is_training,avatar:avatar,password:password,re_password:re_password}).success(function(data) {
                  if (data.status == 1) {
                      window.location.href='{:U("UserProfile/center")}';
                  } else {
                      showPop(data.info, 'error', 1500, ''); return;
                  }
                });
            });

            $('#province1').change(function(){
              if($(this).val() == '') {
                //$('.college_division').attr('disabled', false);
                $('.gaoxiao').find('.form-control').attr('disabled', false);
              } else {
                //$('.college_division').attr('disabled', true);
                $('.gaoxiao').find('.form-control').attr('disabled', true);
              }
            })

            $('#province2').change(function(){
              if($(this).val() == '') {
                $('#province1').attr('disabled', false);
                $('#city1').attr('disabled', false);
                $('#district1').attr('disabled', false);
              } else {
                $('#province1').attr('disabled', true);
                $('#city1').attr('disabled', true);
                $('#district1').attr('disabled', true);
              }
            })

            // 同意拒绝
            $(".lebut").click(function(){
              $('.zwbox').hide();
            })
            $(".rgbut").click(function(){
              window.location.href="/";
            })
     
            // 内容取消
            $(".bmlet").click(function(){
              $(".bmbox").hide()
            })

            $(".recos").click(function(){
              $(".smbox").show();
            })
            $(".close img").click(function(){
              $(".smbox").hide();
            })
        })
     </script>
  <script>
    $(function(){
      
      $(".tybtn").click(function(){
        $(".waixz").hide();
      })
      $(".jjbtn").click(function(){
        window.location.href="/";
      })

      $(".zlqxbtn").click(function(){
        $('.zlbox').hide();
      })
      $("#city1").change(function(){
        if($('#district1 option:eq(1)').val()==undefined){
          $("#district1").hide();
        }else{
          $("#district1").show();
        }
      })
    })
  </script>
</block>