<extend name="Public/base" />

<block name="main">

    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">
                <!--<div class="widget-title">
                    <span class="icon">
                        <i class="icon-plus"></i>
                    </span>
                    <h5></h5>
                </div>-->
                <!--<div class="widget-title"></div>-->
                <br>
                <div class="widget-content tab-content no-padding">
                    <form class="form-horizontal text-height-27-form" method="post" action="{:U(''.$controller.'/update')}" id="form">
                        <input type="hidden" name="model" value="Navigation">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <input type="hidden" name="rbt_shop_show" value="{$_REQUEST['rbt_shop_show']}">
                        <input type="hidden" name="itg_shop_show" value="{$_REQUEST['itg_shop_show']}">
                        <div class="control-group">
                            <label class="control-label">导航名称</label>
                            <div class="controls">
                                <input type="text" name="name" value="{$row['name']}" class="text-width-10" maxlength="4">
                                <span class="help-block">* 导航名称4个字符以内</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">导航图标</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'icon','field_name'=>'icon','field_value'=>$row['icon'],'save_path'=>'Navigation'))}
                                <span class="help-block">* 导航图标长宽比例 1:1</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">跳转规则</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <button type="button" class="btn checked" data-default="--跳转规则--"></button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <volist name="target_rules" id="rule">
                                            <li data-value="{$key}" data-title="{$rule}" <eq name="key" value="$row['target_rule']">class="selected"</eq>>
                                            <a href="javascript:void(0)">{$rule}</a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                                <input type="hidden" name="target_rule" value="{$row['target_rule']}">　
                                <input type="text" name="param" value="{$row['param']}" class="text-width-40" placeholder="规则参数">
                                <span class="help-block">
                                    * <include file="Public/target_rule_help"/>
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">排序</label>
                            <div class="controls">
                                <input type="text" name="sort" value="{$row['sort']}" class="number-only text-width-10">
                                <span class="help-block">排序</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">备注</label>
                            <div class="controls">
                                <input type="text" name="remark" value="{$row['remark']}" class="text-width-40" maxlength="">
                                <span class="help-block">备注</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post no-refresh" type="submit" id="submit" target-form="form-horizontal">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>