<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- <link rel="stylesheet" type="text/css" href="../css/header.css"/> -->
        <link rel="stylesheet" type="text/css" href="__CSS__/logoba/6-2-2logotupain_xx.css"/>
    </head>
    <body>
        <div class="box">
            <div class="img">
                <img src="__IMG__/logoba/logosheji(2).png" alt="" style="width: 100%; height: 100%">
                <img src="__IMG__/logoba/logosheji(2).png" alt="" style="width: 100%; height: 100%">
                <img src="__IMG__/logoba/logosheji(2).png" alt="" style="width: 100%; height: 100%">
            </div>
            <button type="button" class="xuanzhong">我喜欢这个logo，就它了</button>
            <button type="button">我觉得这个logo还可以更好一点</button>
            <button type="button">先不选，我在看看</button>
        </div>
    </body>
</html>
