<extend name="Public/base" />

<block name="top">
    <div class="left"></div>
    <div class="center sliding">我的</div>
    <div class="right"><a href="{:U('HomeMessage/messages')}">消息<if condition="$not_read gt 0"><i></i></if></a></div>
</block>
<block name="content">
    <div class="page-content" style="position:static">
        <div class="homepage">
            <div class="avatar">
                <if condition="session('member.m_id') != null">
                    <div class="exist">
                        <a href="{:U('Center/myInfo')}"><span><img src="{$info['head']}"> </span><i>{$info['nickname']}</i></a>
                    </div>
                <else/>
                    <div class="no">
                        <span><img src="__IMG__/head.png"></span>
                        <i><a href="{:U('Passport/login')}" class="item-link">登录</a></i> | <a href="{:U('Passport/register/step/1')}">注册</a>
                    </div>
                </if>
            </div>
            <div class="list_icon">
                <div class="h_icon"> <a href="{:U('OrderInfo/myOrders')}" class="item-link">我的订单</a> </div>
                <div class="h_nav row">
                    <div class="col-20"> <a href="{:U('OrderInfo/myOrders',array('status'=>1))}" class="item-link"><span><img src="__IMG__/list_nav_2.png"></span><em>待付款</em></a> </div>
                    <div class="col-20"> <a href="{:U('OrderInfo/myOrders',array('status'=>2))}" class="item-link"><span><img src="__IMG__/list_nav_3.png"></span><em>待发货</em></a> </div>
                    <div class="col-20"> <a href="{:U('OrderInfo/myOrders',array('status'=>3))}" class="item-link"><span><img src="__IMG__/list_nav_4.png"></span><em>待收货</em></a> </div>
                    <div class="col-20"> <a href="{:U('OrderInfo/myOrders',array('status'=>4))}" class="item-link"><span><img src="__IMG__/list_nav_5.png"></span><em>待评价</em></a> </div>
                    <div class="col-20"> <a href="{:U('OrderInfo/myOrders',array('status'=>'7,8,9'))}" class="item-link"><span><img src="__IMG__/list_nav_6.png"></span><em>退款</em></a> </div>
                </div>
            </div>
			 <div class="list_icon">
                <div class="h_icon"> <a href="{:U('OrderInfo/myRepairOrders')}" class="item-link">我的维修订单</a> </div>
            </div>
            <div class="h_project row">
                <div class="col-33"><a href="{:U('Center/myKeeper')}" class="item-link"><span><img src="__IMG__/nav_01.png"></span><em>我的管家</em></a></div>
                <div class="col-33"><a href="{:U('Center/myIntegrals')}" class="item-link"><span><img src="__IMG__/nav_02.png"></span><em>我的积分</em></a></div>
                <div class="col-33"><a href="{:U('Center/addresses')}" class="item-link"><span><img src="__IMG__/nav_03.png"></span><em>收货地址</em></a></div>
                <div class="col-33"><a href="{:U('Center/myCoupons')}" class="item-link"><span><img src="__IMG__/nav_04.png"></span><em>优惠券</em></a></div>
                <div class="col-33"><a href="{:U('Center/myCollGoods')}" class="item-link"><span><img src="__IMG__/nav_05.png"></span><em>我的收藏</em></a></div>
                <div class="col-33"><a href="http://www.sobot.com/chat/h5/index.html?sysNum=15e920265dcb412db03e42edea98aa5c" class="item-link"><span><img src="__IMG__/nav_06.png"></span><em>帮助中心</em></a></div>
                <div class="col-33"><a href="{:U('System/feedback')}" class="item-link"><span><img src="__IMG__/nav_07.png"></span><em>意见反馈</em></a></div>
                <div class="col-33"><a href="{:U('Center/set')}" class="item-link"><span><img src="__IMG__/nav_08.png"></span><em>设置</em></a></div>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li><a href="/"><i><img src="__IMG__/icon_01.png"></i><span>首页</span></a></li>
                <li><a href="{:U('Goods/goodsList')}"><i><img src="__IMG__/icon_02.png"></i><span>商城</span></a></li>
                <li class="focus"><a href="{:U('Center/index')}"><i><img src="__IMG__/icon_03_bak.png"></i><span>我的</span></a></li>
            </ul>
        </div>
    </div>
</block>