<extend name="Public/base" />

<block name="main">

    <div class="x-body" style="margin: 50px">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="title" class="layui-form-label">
                    <span class="x-red">*</span>标题
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="title" name="title"  value="<?php echo $list['title']; ?>" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <div class="layui-upload" style="margin-left: 110px">
            <div class="controls">
                {:hook('upload',array('is_first'=>1,'unique_sign'=>'images','field_name'=>'images','field_value'=>$list['images'],'save_path'=>'News'))}
                <span class="help-block">* 使命图片 </span>
            </div>
        </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">使命介绍</label>
                <div class="layui-input-inline">
                    <textarea name="content"><?php echo $list['content']; ?></textarea>
                    {:hook('adminArticleEdit', array('is_first'=>1,'name'=>'content','value'=>$list['content'],'width'=>910,'height'=>500))}
                </div>
            </div>

            <div style="margin-left: 100px">
                <button  class="layui-btn" lay-filter="update" lay-submit="">
                    确定
                </button>
                <button  onclick="javascript:history.back(-1);return false;" class="layui-btn layui-btn-primary" >
                    返 回
                </button>
            </div>
        </form>
    </div>


    <script>
        //一般直接写在一个js文件中
        layui.use(['layer', 'form','upload'], function(){
            var layer = layui.layer
                ,form = layui.form
                  ,upload = layui.upload;
            //自定义验证规则
            form.verify({
                name: function(value){
                    if(value.length < 5){
                        return '名称至少得5个字符啊';
                    }
                }

            });
            //监听提交
            form.on('submit(update)', function(data){
                $.post("{:U('Mission/mission_update')}",$(data.form).serialize(),
                    function(res){
                        if(res.code==200){
                            layer.alert(res.msg, {icon: 6},function () {
                                window.location.href="{:U('Mission/mission_index')}";
                            });
                        }
                        if(res.code==201){
                            layer.alert(res.msg, {icon: 5});
                        }

                    },'json');
                return false;
                //发异步，把数据提交给php


            });
        });
    </script>
    <script>
        //重置ids
        function setFileIds(obj,parent) {
            var ids = [];
            $(".element-box").find('.element-item').each(function(){
                ids.push($(this).attr('data-val'));
            });
            if(ids.length > 0)
                $(".values").val(ids.join(','));
            else
                $(".values").val('');
        }
        function removeElement(obj, parent) {
            $(obj).parent().remove();
            setFileIds(obj, parent);
        }
    </script>
    </div>
    </div>
    </div>
    </div>
    </div>

    <include file="Public/modal_goods"/>

</block>