<extend name="Public/base" />

<block name="main">

    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">

                <div class="widget-title widget-title-search list-widget-title">
                    <button class="btn btn-success href" url="{:U('Advert/add')}" target-form="ids">新增</button>&nbsp;
                </div>

                <div class="widget-content no-padding no-border">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>广告图</th>
                            <th>位置</th>
                            <!-- <th>描述</th> -->
                            <th>投放时间</th>
                            <th>跳转规则</th>
                            <th><i class="fa fa-pencil"></i>排序</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbody">
                        <empty name="list"><tr><td colspan="30">Aho！没有查询结果！！</td></tr></empty>
                        <volist name="list" id="row">
                            <tr>
                                <td class="va-middle">{$row['id']}</td>
                                <td>
                                    <img src="{$row['picture']}" style="width:150px;">
                                </td>
                                <td class="va-middle">{$row['position'],ADVERT_POSITION|get_config_title}</td>
                                <!-- <td class="va-middle">{$row['description']|default='---'}</td> -->
                                <td class="va-middle">
                                    {$row['start_time'],'Y-m-d'|timestamp2date} ~ {$row['end_time'],'Y-m-d'|timestamp2date}
                                    <if condition="$row['start_time'] LT NOW_TIME and $row['end_time'] GT NOW_TIME">
                                        <span class="badge badge-success">投放中</span>
                                    <else/>
                                        <span class="badge badge-important">已过期</span>
                                    </if>
                                </td>
                                <td class="va-middle">{$row['target_rule'],TARGET_RULES|get_config_title}</td>
                                <td class="quick-edit va-middle" data-model="Advert" data-id="{$row['id']}" data-field="sort">{$row['sort']}</td>
                                <td class="va-middle">{$row['status']|get_status_title}</td>
                                <td class="va-middle">
                                    <a href="{:U('Advert/update',array('id'=>$row['id']))}" title="编辑" class="">
                                        <span class="label label-success label-success-hover">编辑</span></a>&nbsp;
                                    <if condition="$row['status'] eq 0 or $row['status'] eq 1">
                                        <a href="{:U('Advert/forbidResume',array('model'=>'Advert','ids'=>$row['id'],'field'=>'status','value'=>abs(1-$row['status'])))}" title="{$row['status']|show_status_name}" class="ajax-get">
                                            <span class="label {$row['status']|show_status_label}">{$row['status']|show_status_name}</span></a>&nbsp;
                                    </if>
                                    <a href="{:U('Advert/delete',array('model'=>'Advert','ids'=>$row['id']))}" title="删除" class="confirm ajax-get">
                                        <span class="label label-important label-important-hover">删除</span></a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <div class="pagination alternate">
                    {$page}
                </div>

            </div>
        </div>
    </div>
</block>
