<extend name="Public/base" />
<extend name="Public/base" />

<block name="main">
    <div class="row-fluid main-row-fluid">

        <div class="span12">
            <div class="widget-box">
                <!--<div class="widget-title">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <h5>更新广告信息</h5>
                </div>-->
                <br>
                <div class="widget-content no-padding">
                    <form class="form-horizontal text-height-27-form" method="post" action="{:U('Advert/update')}">
                        <input type="hidden" name="model" value="Advert">
                        <input type="hidden" name="id" value="{$row['id']}">
                        <div class="control-group">
                            <label class="control-label">广告位置</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <button type="button" class="btn checked" data-default="--广告位置--"></button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <volist name="position" id="po">
                                            <li data-value="{$key}" data-title="{$po}" <eq name="key" value="$row['position']">class="selected"</eq>>
                                            <a href="javascript:void(0)">{$po}</a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>
                                <input type="hidden" name="position" value="{$row['position']}">
                                <span class="help-block">* 广告展示位置</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">广告投放时间</label>
                            <div class="controls">
                                <div class="input-daterange" id="datepicker">
                                    <notempty name="row['id']">
                                        <input type="text" name="start_time" value="{$row['start_time']|date='Y-m-d',###}" class="text-width-10" readonly>
                                        --
                                        <input type="text" name="end_time" value="{$row['end_time']|date='Y-m-d',###}" class="text-width-10" readonly>
                                        <else/>
                                        <input type="text" name="start_time" value="" class="text-width-10" readonly>
                                        --
                                        <input type="text" name="end_time" value="" class="text-width-10" readonly>
                                    </notempty>
                                </div>
                                <span class="help-block">* 广告开始-结束展示时间</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">广告图片</label>
                            <div class="controls">
                                {:hook('upload',array('is_first'=>1,'unique_sign'=>'picture','field_name'=>'picture','field_value'=>$row['picture'],'save_path'=>'Advert'))}
                                <span class="help-block">* 广告图片，banner尺寸：954px X 497px</span>
                            </div>
                        </div>
                                            <div class="control-group">
                            <label class="control-label">文章内容</label>
                            <div class="controls">
                                <textarea name="content">{$row['content']}</textarea>
                                {:hook('adminArticleEdit', array('is_first'=>1,'name'=>'content','value'=>$row['content'],'width'=>910,'height'=>500))}
                                <span class="help-block">* 文章详细内容</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">跳转规则</label>
                            <div class="controls">
                                <div class="btn-group">
                                    <button type="button" class="btn checked" data-default="--跳转规则--"></button>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <volist name="target_rules" id="rule">
                                            <li data-value="{$key}" data-title="{$rule}" <eq name="key" value="$row['target_rule']">class="selected"</eq>>
                                            <a href="javascript:void(0)">{$rule}</a>
                                            </li>
                                        </volist>
                                    </ul>
                                </div>　
                                <input type="hidden" name="target_rule" value="{$row['target_rule']}">
                                <input type="text" name="param" value="{$row['param']}" class="text-width-30" placeholder="跳转规则对应的参数">
                                <span class="help-block">
                                    <include file="Public/target_rule_help"/>
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">描述</label>
                            <div class="controls">
                                <input type="text" name="description" value="{$row['description']}" class="text-width-40">
                                <span class="help-block">该广告的简单描述</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn" onclick="javascript:history.back(-1);return false;">返 回</button>　
                            <button class="btn btn-info ajax-post" target-form="form-horizontal" type="submit">保 存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <!--日历 start-->
    <link href="__STATIC__/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <script src="__STATIC__/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!--日历 end-->


        <script>
//一般直接写在一个js文件中
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form;
  
  layer.msg('Hello World');
});
</script> 
</block>