<script>
    //getArea(1,0,'');
    function getArea(region_id,region_type,region_name) {
		var start_region = arguments[3] ? arguments[3] : 0; 
        if(region_type == 1) {
            $("input[name='province_name']").val(region_name);
            $("input[name='province_id']").val(region_id);
            $('.area-text').html(region_name);
        } if(region_type == 2) {
            $("input[name='city_name']").val(region_name);
            $("input[name='city_id']").val(region_id);
            $('.area-text').append(region_name);
        } if(region_type == 3) {
            $("input[name='district_name']").val(region_name);
            $("input[name='district_id']").val(region_id);
			if(start_region == 3)
            $('.area-text').html(region_name);
			else
            $('.area-text').append(region_name);
        }
        if(region_type == 3) {
            $('.consignee').show();
            $('.area-list').hide();
            return;
        } else {
            $('.consignee').hide();
            $('.area-list').show();
        }
        $.ajax({
            url :'{:U("System/getRegion")}', type:'post', data:{region_id:region_id}, dataType:'Json',
            success:function(data){
                if(data) {
                    var html = '<ul>'
                    for(var i in data.data) {
                        html += '<li onclick="getArea('+data.data[i]['region_id']+','+data.data[i]['region_type']+',\''+data.data[i]['region_name']+'\','+start_region+')">' +
                        '<a href="javascript:void(0);" class="area" style="color:#000">'+data.data[i]['region_name']+'</a>' +
                        '</li>';
                    }
                    html += '</ul>';
                    $('div.area-list').html(html);
                } else {
                    $('#page').text('没有更多数据了！！！');
                    setTimeout(function() {
                        $('#page').hide();
                    },2000);
                }
            }
        });
    }
</script>