<style type="text/css">
    .lyq-bg{}
    .lyq-loading-bg{}

    .lyq-notification{position:fixed;left:10%;top:50%;margin-top:-40px; background:#fff;width:80%;z-index:5009;-webkit-transform: translate3d(0, 0, 0);
        border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px; display:none}
    .lyq-notification h1{font-size:16px;text-align:center;line-height:30px;padding:10px;margin:0;border-bottom:none;}
    
    .lyq-loading{position:fixed;left:44%;top:50%;display: none;z-index: 5008}
    .lyq-loading img{width: 60px; height: 60px;}
</style>

<div class="underlying-bg lyq-notify-bg"></div>
<div class="lyq-notification">
    <h1></h1>
</div>

<div class="underlying-bg lyq-loading-bg"></div>
<div class="lyq-loading">
    <img src="__STATIC__/img/loading.gif">
</div>
