<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta name="applicable-device" content="pc,mobile">
    </head>
    <body style="background:#fff">
        <div id="item">
            <div class="rub">
                <div class="main">
                    <div class="about">出错啦！没有找到您要访问的页面，去<a href="/">首页</a>看看</div>
                </div>
            </div>
        </div>
    </body>
</html>